.header {
    font-family: arial;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0px;
    filter: drop-shadow(2px 4px 6px black);
    position: fixed;
}
.main{
    margin: 0 auto;
    background-color: whitesmoke;
}
.header--right {
    margin-top: 23px;
    margin-right: 6.4%;
}

.header-right {
    display: flex;
    font-size: 14px;
}

.header-right li {
    DISPLAY: BLOCK;
    margin: 0px 31px 0px 8px;
}

.header-right-li {
    display: contents;
    color: black;
}

.header-left {
    margin-left: 5%;
}

.header-left-img {
    width: 72px;
    margin-top: -2px;
    margin-left: 5px;
}

.baner{
    margin-top: 80px;
}
.bander img {
    width: 100%;
}

.main {
    margin: 0 auto;
    background-color: whitesmoke;
    padding-bottom: 72px;
}

.from {
    margin: 0 auto;
    max-width: 1250px;
    margin-top: 35px;
}

.from-name {
    margin-top: 20px;
}

.from-name input {
    margin-top: 10px;
    width: 99%;
    height: 25px;
    border: solid 1px;
}

.from-email-phone {
    display: flex;
    margin-top: 15px;
}

.from-email-phone input {
    margin-top: 10px;
    height: 25px;
}

.from-thongtin {
    text-align: center;
    margin-bottom: 28px;
}

.from-luuy {
    background-color: #dde1fa;
    padding: 18px 0px 4px 20px;
    border-radius: 5px;
    width: 99%;
}

.from-datban {
    display: flex;
    margin-top: 15px;
}

.from-nguoi-nhahang {
    display: flex;
    margin-top: 15px;
}

.from-ghichu {
    margin-top: 15px;
}

.from-nguoi-nhahang input {
    margin-top: 10px;
    height: 30px;
}

.from-nguoi-nhahang select {
    margin-top: 10px;
    height: 25px;
}

.from-datban input {
    margin-top: 10px;
    height: 25px;
}

.from-datban select {
    margin-top: 10px;
    height: 25px;
}

.from-ghichu textarea {
    margin-top: 10px;
}

.from-email-phone-1 {
    width: 50%;
}

.from-email-phone-1 input {
    width: 90%;
    border: solid 1px;
}

.from-email-phone-2 input {
    width: 338%;
    border: solid 1px;
}

.from-datban-1 {
    width: 33%;
}

.from-datban-1 input {
    width: 100%;
    border: solid 1px;
    height: 27px;
}
.from-datban-2{
    margin-left: 30px;
}
.from-datban-2 select{
    width: 100%;
    height: 28px;
}
.from-datban-3{
    margin-left: 30px;
    
}

.from-datban-3 select{
    width: 161%;
    height: 28px;
}

.from-nguoi-nhahang-1 select{
    height: 30px;
    width: 103%;
}
.from-nguoi-nhahang-2{
    margin-left: 37px;
}
.from-nguoi-nhahang-2 input{
    border: solid 1px;
}
.from-button button{
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 50%;
    margin: 1% 0% 0% 50%;
    margin-top: 30px;
}
.footer{
    background-color: black;
    width: 100%;
    height: 70px;
    /* margin-top: 50px; */
}
footer.nb-footer {
    margin-bottom: -74px;
    background: #222;
    border-top: 4px solid #b78c33; }
    footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; }
    footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px; }
    footer.nb-footer .about .social-media {
    margin-top: 15px; }
    footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgba(255, 255, 255, 0.3); }
    footer.nb-footer .about .social-media ul li a:hover {
    background: #b78c33;
    color: #fff;
    border-color: #b78c33; }
    footer.nb-footer .footer-info-single {
    margin-top: 30px; }
    footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px; }
    footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0; }
    footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33; }
    footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa; }
    footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999; }
    footer.nb-footer .copyright p {
    margin: 0;
    padding: 0; }
    .footer-info-single p{
        text-align: justify;
    }
.form-datban-all{
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin-bottom: 15px;
}
.form-dathang{
    display: flex;
       /* width: 180px; */
}
.form-dathang-img{
    border: solid 1px gray;
      width: 116px;
      height: 200p;
      height: 116px;
      border-radius: 80px;
}
.form-dathang-img i{
    padding-left: 34px;
        padding-top: 38px;
        font-size: 40px; color: #c38f36;
}
.form-dathang-img-1{
    border: solid 1px gray;
    width: 116px;
    height: 200p;
    height: 116px;
    border-radius: 80px;
}
.form-dathang-img-1 i{
    padding-left: 42px;
    padding-top: 38px;
    font-size: 40px; color: #c38f36;
}
.form-dathang-img:hover{
    box-shadow: 0 0 20px #C0C0C0;
}
.form-dathang-img-1:hover{
    box-shadow: 0 0 20px #C0C0C0;
}
.form-dangky-p{
    width: 215px;
        padding-left: 20px;
        text-align: justify;
        /* padding-top: 16px; */
        margin-top: 17px;
}
.form-dangky-p-nav{
    width: 186px;
    padding-left: 20px;
    text-align: justify;
    /* padding-top: 16px; */
    margin-top: 17px;
}
.form-dangky-p-nav b{
    color: black;
}
.form-dangky-p-nav a{
    display: contents;
}
.form-dangky-p b{
    color: black;
}
.form-dangky-p a{
    display: contents;
}
.form-dangky-p-1{
    margin-top: 5px;
}
.form-dangky-p-2{
    margin-top: -8px;
}
