.header {
    /* font-family: arial;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 60px;

    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0px; */



    font-family: arial;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0px;
    filter: drop-shadow(2px 4px 6px black);
}
.main{
    margin: 0 auto;
    /* max-width: 1300px; */
    background-color: whitesmoke;
}
.header--right {
    margin-top: 23px;
    margin-right: 5%;
}

.header-right {
    display: flex;
    font-size: 14px;
}

.header-right li {
    DISPLAY: BLOCK;
    margin: 0px 31px 0px 8px;
}

.header-right-li {
    display: contents;
    color: black;
}

.header-left {
    margin-left: 5%;
}

.header-left-img {
    width: 72px;
    margin-top: -2px;
    margin-left: 5px;
}

.bander img {
    width: 100%;
    height: 550px;
}

.content{
    margin-top: 54px;
}
.content-2{
    background-color: cadetblue;
    width: 600px;
    height: 380px;
    margin: -38% 0% 0% 6%;
    /* margin-top: -36%; */
    position: absolute;
    background-color: white;
    text-align: justify;
}
.content-2-1{
    color: #c38f36;
    margin: 30px 0px 0px 43px;
  
}
.content-2-2{
    margin: 25px 0px 0px 43px;
}
.content-2-3{
    
    width: 520px;
    margin: 20px 0px 0px 43px;
}
.content-2-4{
    /* text-align: justify; */
    width: 520px;
   
    margin: 5px 0px 0px 43px;
}
.content-1 img{
    margin-left:  454px;
    /* width: 1345px;
    height: 576px; */
}
.content-3{
    width: 600px;
    height: 380px;
    margin-top: 11%;
    position: absolute;
    background-color: white;
    text-align: justify;
    margin-left: 54%;
}
.content-3-1{
    color: #c38f36;
    margin: 30px 0px 0px 43px;
}
.content-3-2{
    margin: 25px 0px 0px 43px;
}
.content-3-3{
    width: 520px;
    margin: 20px 0px 0px 43px;
}
.content-3-4{
    width: 520px;
    margin: 5px 0px 0px 43px;
}
.content-3and4{
    margin-top: 56px;
}
.content-4{
    margin-left: 6%;
}
.content-5-1{
    margin: 30px 0px 25px 0px;
    text-align: center;
}
.content-5-2{
    display: flex;
    flex-wrap: wrap;
}
.content-5-2-menu{
    margin-left: 10px;
   
    margin-right: 10px;
}
.content-5-2-menu img {
    width: 345px;
}
.content-5-2 h5{
    margin: 7px 0px 20px 10px;
}