.header {
    /* font-family: arial;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 60px;

    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0px; */



    font-family: arial;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0px;
    filter: drop-shadow(2px 4px 6px black);
}
.main{
    margin: 0 auto;
    /* max-width: 1300px; */
    background-color: whitesmoke;
}
.header--right {
    margin-top: 23px;
    margin-right: 6.4%;
}

.header-right {
    display: flex;
    font-size: 14px;
}

.header-right li {
    DISPLAY: BLOCK;
    margin: 0px 31px 0px 8px;
}

.header-right-li {
    display: contents;
    color: black;
}

.header-left {
    margin-left: 5%;
}

.header-left-img {
    width: 72px;
    margin-top: -2px;
    margin-left: 5px;
}

.bander img {
    width: 100%;
    height: 550px;
}

.content{
    display: flex;
    margin-top: 40px;
    padding-bottom: 50px;
}



.content{
    display: flex;
    margin-top: 40px;
}
.content-left{
    width: 50%;
}
.content-right{
    width: 50%;
    margin-top: 46px;
}

.lienhe-2{
    margin-top: -5px;
}
.lienhe-3{
    margin-top: -10px;
}
.lienhe-3-1{
    display: flex;
   
}
 .lienhe-3-1-add{
    margin-left: 2px;
   
}
.lienhe-3-1-add h5{
 margin-top: 13px;
}
.lienhe-3-1-sdt{
    margin: 11px 0px 0px 5px;
} 
.lienhe-3-2{
    display: flex;
    margin: -6px 0px -6px -1px;
}
.lienhe-3-2 h5{
    margin-top: 13px;
}
.lienhe-3-3{
    /* margin-bottom: -28px; */
}

.lienhe-3-4{
    margin-bottom: -5px;
    /* margin-top: 39px; */
}
.content-right-iput{
    display: flex;
    margin-top: 28px;
}
.content-right-iput input{
    width: 152%;
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    border: solid 1px;
}
.content-right-iput-sdt{
    margin-left: 143px;
}
.content-right-iput-ykien{
    margin-top: 17px;
}
.content-right-button button{
    width: 15%;
    height: 41px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 15px;
}
.content-right-iput-ykien-textarea{
    margin-top: 17px;
}
.content-right-iput-ykien-textarea textarea{
    border-radius: 5px;
}
.content-right{
    margin-right: 6%;
}
.content-left{
    margin-left: 9%;
}
/* .footer{
    background-color: black;
    width: 100%;
    height: 70px;
    margin-top: 50px;
} */

footer.nb-footer {
    margin-bottom: -74px;
    background: #222;
    border-top: 4px solid #b78c33; }
    footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; }
    footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px; }
    footer.nb-footer .about .social-media {
    margin-top: 15px; }
    footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgba(255, 255, 255, 0.3); }
    footer.nb-footer .about .social-media ul li a:hover {
    background: #b78c33;
    color: #fff;
    border-color: #b78c33; }
    footer.nb-footer .footer-info-single {
    margin-top: 30px; }
    footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px; }
    footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0; }
    footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33; }
    footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa; }
    footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999; }
    footer.nb-footer .copyright p {
    margin: 0;
    padding: 0; }
    .footer-info-single p{
        text-align: justify;
    }
    
