.header {
    font-family: arial;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0px;
    filter: drop-shadow(2px 4px 6px black);
    /* position: fixed; */
}

.header--right {
    margin-top: 23px;
    margin-right: 6.4%;
}

.header-right {
    display: flex;
    font-size: 14px;
}

.header-right li {
    DISPLAY: BLOCK;
    margin: -1px 31px 0px 8px;
}

.header-right-li {
    display: contents;
    color: black;
}

.header-left {
    margin-left: 5%;
    margin-bottom: -11px;
}

.header-left-img {
    width: 72px;
    margin-top: -2px;
    margin-left: 5px;
}

.header-right-i {
    margin-top: 2px;
}

.main {
    margin: 0 auto;
    /* max-width: 1300px; */
    background-color: whitesmoke;
}

.bander img {
    width: 100%;
    height: 550px;
}

.bander {
    top: 0px;
    left: 0px;
    width: 100%;
}

.lst-thucdon {
    margin-top: 100px;
    margin-left: 150px ;
}

.dropdown {
    width: 100px;
    height: 50px;
}

.dropdown select {
    padding: 6px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    border: none;
}

#menu-monan {
    width: 200px;
}

.img-food {
    width: 300px;
}

.img-food1 {
    width: 300px;
    height: 243px
}
.food-container-row0 {
    display: flex;
    margin-left: 30px;
    justify-content: center;
}

.food-container-row1 {
    display: flex;
    margin-left: 30px;
    justify-content: center;
}

.food-container-row2 {
    display: flex;
    margin-left: 30px;
    justify-content: center;
}

.food-item {
    /* margin: 30px; */
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);

    margin-right: 30px;
    padding-bottom: 15px;
}

.food-container-row1 {
    margin-top: 40px;
}

.food-container-row0 {
    margin-top: 40px;
}

.food-item a {
    display: contents;
    color: black;

}

.food-item a:hover {
    color: #c38f36;
}

.food-item-img img {
    width: 360px;
    height: 360px;
}

.food-item-content h5 {
    margin-top: 20px;
}

.food-item-price {
    margin-top: 13px;
}

.food-name {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.food-name {
    font-family: 'Noto serif', sans-serif;
    font-weight: bold;
    color: black;
}

.food-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.price {
    display: flex;
    justify-content: center;
    color: black;
}

.mainn {
    background-color: whitesmoke;
    margin-top: -3rem;
}
.distance{
    margin: 70px;
}
.food-container-lone {
    display: flex;
    justify-content: center;
    margin-right: 700px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

footer.nb-footer {
    background: #222;
    border-top: 4px solid #b78c33;
}

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px;
}

footer.nb-footer .about .social-media {
    margin-top: 15px;
}

footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media ul li a:hover {
    background: #b78c33;
    color: #fff;
    border-color: #b78c33;
}

footer.nb-footer .footer-info-single {
    margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px;
}

footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0;
}

footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33;
}

footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
}

footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999;
}

footer.nb-footer .copyright p {
    margin: 0;
    padding: 0;
}

.footer-info-single p {
    text-align: justify;
}
.muahang{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 20px;
    border-color: green;
    color: green;
}
.page-link{
    background-color: #c38f36;
    color: #111;
}
.food-item:hover{
    box-shadow: 0 0 30px #C0C0C0;
}
.dropdown button{
    margin-top: -5rem;
}
/* .food-container{
    margin-top: -3rem;
} */
.food-container-all{
    margin-top: -3rem;
}
.food-container-all-1{
    margin-top: -3rem;
    margin-bottom: 50px;
}
.food-item h5{
    margin-top: 1rem;
}
.food-item button{
    margin-bottom: 0.5rem;
}