
.header {
    font-family: arial;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 60px;
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0px;
    filter: drop-shadow(2px 4px 6px black);
    align-items: flex-end;
    box-sizing: content-box;
}

.header--right {
    margin-top: 10px;
    margin-right: 5%;
}

.header-right {
    display: flex;
    font-size: 14px;
}

.header-right li {
    DISPLAY: BLOCK;
    margin: 0px 31px 0px 8px;
}

.header-right-li {
    display: contents;
    color: black;
}

.header-left {
    margin-left: 5%;
    margin-bottom: -11px;
}

.header-left-img {
    width: 72px;
    margin-top: -2px;
    margin-left: 5px;
}
.header-right-i{
    margin-top: 2px;
}
.main {
    margin: 0 auto;
    /* max-width: 1300px; */
    background-color: whitesmoke;
    padding-bottom: 72px;
    
}
.bander img {
    width: 100%;
}

.bander {
    top: 0px;
    left: 0px;
    width: 100%;
}
.lst-thucdon{
    margin: 100px;
    margin-right: 50px;
}

#menu-monan{
    width: 200px;
}
.img-food{
    width: 300px;   
}
.img-food1{
    width: 300px ;
    height: 243px
}
.food-container-row0{
    display: flex;
    margin-left: 30px;
    justify-content: center;
}
.food-container-row1{
    display: flex;
    margin-left: 30px;
    justify-content: center;
}
.food-container-row2{
    display: flex;
    margin-left: 30px;
    justify-content: center;
}
.food-item{
    margin: 30px;
}
.food-name{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.food-name{
    font-style: italic;
    color: black;
}
.food-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.price{
    display: flex;
    justify-content: center;
    color: black;
}
.main{
    background-color: azure;
}
.food-container-lone{
    display: flex;
    justify-content: left;
    margin-left: 155px;
}